
.categoryTodo {
    padding: 1rem;
    min-height: 30vh;
    min-width: 17vw;
    border-radius: 20px;
    border: 1px solid var(--primary);
    font-size: 1.2rem;
}
.categoryTodo h2 {
    width: 100%;
    border-bottom: 1px solid var(--invTheme);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 1rem;

}
.categoryTodo h2 span {
    cursor: pointer;
    margin-left: auto;
    color: var(--primary);
    font-size: 1rem;
}

.task {
    margin: 0.5rem;
    font-size: 1rem;
}

.task label {
    font-size: 1rem;
}

.checked label {
    text-decoration: line-through;
}

.task_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task_container span {
    cursor: pointer;
    margin-left: auto;
    font-size: 1rem;
}

