.anon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 1rem;
    color: var(--primary)
}
.avatar {
    border-radius: 50%;
}
.logo, .icon {
    margin: 0 0.5rem;
    color: var(--primary)
}
.header h1  {
    font-size: 1rem;
}
.themeToogle {
    margin-left: auto;
}

.main {
    padding: 2rem;
}
.main h1 {
    border-bottom: 1px solid var(--theme);
    font-size: 1.8rem;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.main h1 span {
    font-size: 1rem;
    color: var(--theme);
    font-style: italic;
    margin-left: auto;
}
