.postIts {
    width: fit-content;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;  
}

@media  (width < 750px) {
   .postIts {
    display: flex;
    flex-direction: column;
   }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.addTodo button{
    position: relative;
    top: 4px;
}
.addTodo > *:nth-child(1) {
    display: flex;
    align-items: center;
}
@media  (width < 750px) {
    .addTodo > *:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
    .addTodo > *:nth-child(2) input{
        width: 100% !important;
    }
}


.todoForm input:nth-child(1){
   width: 10vw;
}
.todoForm input:only-child {
    width: 30vw;
}