.container {
    margin: 4rem auto;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head h2 {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 0rem;
    color: var(--primary)
}


.actions { 
 text-align: right;
}

.b  {
    outline: none;
	border: none;
	background: transparent;
	font-size: 20px;
	cursor: pointer;
	padding: 0 5px;
    color: var(--primary);
}

.form {
    padding: 1rem;
}
.form button[type="submit"]{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: black;
}

.table {
    color: white;
}

.table thead th {
    color: var(--primary) !important;
}

.modal {
    background-color: var(--secondary);
    color: red !important;

}

