@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

.main {
    --primary: teal;
    height: 1456px;
    width: 1044px;
    padding: 0rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    font-family:  "Arial", sans-serif;
}

.contact {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 0 1000px, 350px 0px, 0px 0);
    margin-top: 1rem;
    padding: 2rem;
}

.contact p {
    font-weight: bold;
}
.contact span {
    color: var(--primary)
}

.contact .icon {
    color: var(--primary);
}

.contact ul {
    list-style: none;
}
.contact li {
    margin: 0.5rem;
    
}
.contact a {
    color: black;
}

.dest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8rem;
    gap: 1rem;
}

.lm {
    padding: 2rem;
    margin: 2rem;
    grid-column: span 2;
}

.lm p {
    text-align: justify;
}

.eof {
    grid-column: span 2;
    text-align: right;
    margin-right: 4rem;
}

.signature {
    font-family: 'Island Moments', cursive;
    color: var(--primary);
    font-size: 3rem;

}