@import "./style_default.css";

/* body {
    background-color: var(--secondary);
    color: white;
} */

/* input, textarea{ 
    background-color: var(--secondary) !important;
    color: white !important;
} */

/* label {
    color: white !important;
} */


.home {
    padding: 4rem;
}

.home h1 {
    margin-top: 2rem;
}


