.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin: 2rem 0;
}

.advice {
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px dotted var(--theme);
}