

.preview {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
    border-top: none;
    padding: 2rem;
    width: 900px;
    margin: auto;
}